@import './vars.scss';
@import './global.scss';

#about {
    @include navOffset;
}

.about {
    &__content {
        display: flex;

        @include mq('to', 768) {
            flex-direction: column;
        }
    }

    &__btn {
        width: 100%;
        display: flex;

        .btn {
            display: flex;
            align-items: center;

            &:first-child {
                margin-right: 16px;
            }
        }

        @include mq('from', 768) {
            justify-content: flex-start;
        }

        @include mq('to', 768) {
            justify-content: center;
        }
    }

    h2 {
        text-transform: uppercase;
        color: $black;
    }

    &__left-side {
        @include mq('from', 768) {
            max-width: 62%;
        }

        @include mq('to', 768) {
            max-width: 100%;
        }

        p {
            margin: 40px 0 32px;
            line-height: 28px;

            a {
                position: relative;
                color: $primary-green;
                transition: $transition;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-green;
                    transition: $transition;
                }

                @media (hover: hover) {
                    &:hover {
                        color: $dark-grey;

                        &::after {
                            color: $dark-grey;
                        }
                    }
                }
            }
        }
    }

    &__right-side {
        @include mq('from', 768) {
            width: 40%;
            margin-left: 50px;
        }

        @include mq('to', 768) {
            width: 100%;
            margin-left: 0;
            margin-top: 80px;
        }

        ul {
            margin-top: 40px;

            li {
                padding-left: 25px;
                position: relative;
                text-transform: uppercase;
                color: $dark-grey;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 8px;
                    height: 8px;
                    background-color: $primary-green;
                    border-radius: 2px;
                }

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
